<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title></title>
</head>

<body>

    <div class="logo">
        <img src="/img/Joy1.jpg" alt="" srcset="">
        <img src="/img/Joy2.jpg" alt="" srcset="">
    </div>

    <h1 class="subtitle">Games atuais</h1>   

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste sapiente cumque voluptatem nihil recusandae
        quisquam dolore, provident voluptate odio rerum earum voluptates sequi atque ex dignissimos hic optio quo quam.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste sapiente cumque voluptatem nihil recusandae
        quisquam dolore, provident voluptate odio rerum earum voluptates sequi atque ex dignissimos hic optio quo quam.
    </p>
    <span class="games">
        <img src="/img/game1.jpeg" alt="" srcset="">
        <img src="/img/game2.jpeg" alt="" srcset="">
        <img src="/img/game3.jpeg" alt="" srcset="">
        <img src="/img/game4.jpeg" alt="" srcset="">
        <img src="/img/game5.jpeg" alt="" srcset="">
        <img src="/img/game6.jpeg" alt="" srcset="">
        <img src="/img/game7.jpeg" alt="" srcset="">
        <img src="/img/game8.jpeg" alt="" srcset="">
    </span>
</body>

</html>