<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title></title>
</head>

<body>
    <h1 class="subtitle">Marcaram época</h1>
    <!-- <div class="logo">
        <img src="/img/joy3.jpg" alt="" srcset="">
        <img src="/img/joy4.webp" alt="" srcset="">
    </div> -->

    

    <p>Eles revolucionaram a forma como jogamos, introduziram personagens inesquecíveis, mecânicas inovadoras e histórias cativantes. 
        Esses jogos estabeleceram novos padrões de qualidade e se tornaram referências para os jogos futuros. 
        
    </p>
    <p>Venha relembrar e celebrar os jogos que marcaram época, aqueles que se tornaram ícones e deixaram uma marca na história dos games. 
    Esses jogos são mais do que meros entretenimentos digitais, eles são verdadeiras obras-primas que moldaram a indústria dos videogames.
    </p>

    <div class="games">
        <img src="/img/game8.jpg" alt="" srcset="">
        <img src="/img/game10.jpg" alt="" srcset="">
        <img src="/img/game13.jpg" alt="" srcset="">
        <img src="/img/game14.jpg" alt="" srcset="">
        <img src="/img/game7.png" alt="" srcset="">
        <img src="/img/game9.jpg" alt="" srcset="">
        <img src="/img/game11.jpg" alt="" srcset="">
        <img src="/img/game12.jpg" alt="" srcset="">
    </div>
</body>

</html>