<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title></title>
</head>

<body>
    <h1 class="subtitle">Clássicos 16 bits</h1>
    <!-- <div class="logo">
        <img src="/img/joy5.jpg" alt="" srcset="">
        <img src="/img/joy6.webp" alt="" srcset="">
    </div>     -->

    <p>Ao mencionar jogos clássicos como "Super Mario Bros." e "The Legend of Zelda: Ocarina of Time", reconhecemos sua importância em moldar a indústria dos jogos e a nostalgia que eles evocam nas pessoas.
    </p>
    <p>Os jogos clássicos são verdadeiros tesouros que resistiram ao tempo, encantando gerações de jogadores. 
    <p> Eles são conhecidos por sua simplicidade e jogabilidade atemporal, proporcionando diversão pura e desafiadora. 
        Esses jogos muitas vezes apresentam gráficos pixelizados e mecânicas simples, mas são capazes de cativar os jogadores com sua jogabilidade viciante e atmosfera nostálgica. </p>
       <p> Jogos clássicos como "Pac-Man", "Tetris" e "Super Mario Bros." são exemplos de títulos que transcenderam gerações e continuam sendo amados até hoje.</p>

    <div class="games">
        <img src="/img/game1.jpeg" alt="" srcset="">
        <img src="/img/game2.jpeg" alt="" srcset="">
        <img src="/img/game3.jpeg" alt="" srcset="">
        <img src="/img/game4.jpeg" alt="" srcset="">
        <img src="/img/game5.jpeg" alt="" srcset="">
        <img src="/img/game6.jpeg" alt="" srcset="">
        <img src="/img/game7.jpeg" alt="" srcset="">
        <img src="/img/game8.jpeg" alt="" srcset="">
    </div>

</body>

</html>